.banner-section{
    background-color: rgba(248,176,174,.55);
    width: auto;
}
.banner-div{
    margin: 0px!important;
    height: 544px;
    align-items: center;
}
.img-div{
    padding-left: 60px !important;
    padding-right: 0px!important;
}
.banner-img{
    width:555px;
    height:532px;
    margin-top: 12px;
}
.details-div{
    padding-left: 20px !important;
}
.banner-heading{
    font-size: 24px;
}
.banner-heading-2{
    font-size: 50px;
    font-weight: 700;
}
.banner-heading-3{
    font-size: 24px;
    font-weight: 500;
    font-family:sans-serif;
    line-height: 40px;
}
.btn-1{
    color: #fff;
    font-size: 19px;
    background-color: #f06666;
    border: none;
    padding: 6px 20px;
    margin: 5px;
    margin-top: 15px;
}
.btn-2{
    color: #f06666;
    font-size: 18px;
    outline: 3px solid #f06666;
    background-color: rgba(248, 177, 174, 0);
    border: none;
    padding: 8px 20px;
    margin: 5px;
    margin-top: 15px;
}
.second-section{
    margin: 0px !important;
    margin-top: 50px !important;
   
}
.img-div{
    display: flex;
}
.small-img-div{
    display:  flex;
    flex-direction: column;
}
.small-product-img{
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}
.second-section-big-img{
    width: 473px;
    height: 296px;
}
.second-section-heading {
    font-size: 38px;
    font-weight: 500;
    font-family: Poppins;
}
.fifty-four{
    font-family: "Open Sans";
    font-size: 32px;
    line-height: 1.3em;
    font-weight: 600;
    margin-top: 0;
    color: #000;
}
.accordion-div{
    padding: 20px;
    border: 3px solid #f2a7a5;
    border-radius:10px;
}
.accordion-button{
    border: 3px solid #34a99b !important;
    background-color: #9b9b9b !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    padding: 14px 15px;
}
.third-section{
    background-color: #f2a7a5;
}
.third-section-div{
    margin: 150px 49px 20px 49px !important;
    height: 360px;
    align-items: center;
    width: auto;
}
.third-section-img{
    width: 555px;
    height: 531px;
    margin-top: -171px;
}
.third-section-details{
    padding:0px 62px 0px 60px !important;
}
.third-section-heading{
    font-size: 36px;
}
.third-section-span-tag{
    font-weight: bold;
}
.third-section-paragraph{
    font-size: 20px;
}
.third-section-btn{
    background-color: black;
    color: white;
    padding: 6px 25px;
    outline: 0;
    font-size:18px;
}

/*------------------------- fourth section ---------------------- */
.fourth-section{
    margin: 20px 47px;
    padding: 75px 15px;
}
.fourth-section-div{
    padding-left: 100px !important;
    order: 0;
}
.fourth-section-title{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}
.fa-hands-asl-interpreting{
    font-size: 40px;
    color: #f2a7a5;
}
.product-features{
    display: flex;
    justify-content: space-between;
}
.product-title{
    font-family: "PT Serif";
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    line-height: 1em;
    text-align: left;
}
.product-description{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
.icon-div{
    padding: 20px 25px;    
}
.product-deatil{
    padding: 20px;
}

.fa-person-dress{
    font-size: 55px;
    color: #f2a7a5;
    margin-right: 15px;
}
.fa-cc-diners-club{
    font-size: 40px;
    color: #f2a7a5;
}
.fa-angellist{
    font-size: 45px;
    color: #f2a7a5;
}
.fourth-section-image-div{
    padding: 15px;
   /* order: 0; */
}
.fourth-section-first-image-div{
    display: flex;
    justify-content: center;
}
.fourth-section-image-1{
    width: 555px;
    height: 399px;
}
.fourth-section-image-2{
    width: 555px;
    height: 399px;
}
.shop-btn-div{
    display: flex;
    justify-content: center;
}
.back-to-shop-btn{
    color: #fff;
    font-size: 20px;
    padding: 8px 35px;
    background-color: #f2a7a5;
    border: none;
}

/* ------------fifth section ----------------*/
.fifth-section{
    padding: 20px 0px 40px 0px;
    background-color: #f2a7a5;
}
.fifth-section-div{
    margin: 0px 46px;
    padding: 0px 15px;
}
.fifth-section-title{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    padding: 20px 0px 50px 0px;
}
.carousel{
    background-color: white;
    padding: 20px;
}
.carousel-control-prev-icon{
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
}
.carousel-control-next-icon{
    background-color: rgba(0,0,0,.4);;
    border-radius: 50%;
}
.carousel-img-div{
    display: flex;
    justify-content: center ;
}
.carousel-img{
    width: 164px;
    height: 162px;
}
.fa-star{
    font-size: 25px;
    color: #f5a623;
    padding-right: 10px;
}
.star-div{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.carousel-details{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.carousel-details p {
    font-size: 18px;
}
.carousel-details h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* mobile responsive */
@media screen and (max-width: 415px){
    .banner-div{
        margin: 0px!important;
        height: 750px;
        align-items: center;
    }
    .img-div{
        padding-left:20px !important;
    }
    .banner-img{
        width:380px;
        height:400px;
    }
    .details-div{
        margin-top: 5px !important;
        padding-left: 15px !important;
        padding-right: 10px !important;
        padding-bottom: 10px !important;
    }
    .small-product-img{
        width: 49.5px;
        height: 49.5px;
    }
    .second-section-big-img{
        width: 312px ;
        height: 195px;
    }
    .second-section-heading {
        font-size: 26px;
        text-align: center;
       
    }
    .third-section-div{
        height: 500px;
        margin: 180px 0px 20px 0px !important;
        align-items: center;
        width: auto;
    }
    .third-section-img{
        width: 382px;
        height: 365px;
    }
    .third-section-details{
        padding:0px 20px 0px 20px !important;
        text-align: center;
    }
    .third-section-heading{
        font-size: 28px;
    }
    .third-section-paragraph{
        font-size: 18px;
        text-align: center;
    }
    .third-section-btn{
        background-color: black;
        color: white;
        padding: 8px 15px;
        outline: 0;
    }
    .fourth-section{
        margin: 0px;
        padding: 5px 20px;
    }
    .fourth-section-div{
        padding-left: 10px  !important;
        margin-top: 20px !important;
        order: 1;
    }
    .icon-div{
        padding: 20px 5px;    
    }
    .product-description{
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    .product-deatil{
        padding: 20px 15px 20px 30px;
    }
    .fourth-section-image-1{
        width: 174px;
        height: 125px;
    }
    .fourth-section-image-2{
        width: 382px;
        height: 316px;
    }

    /* ---------fifth section ------------------ */
    .fifth-section{
        margin-top: 40px;
    }
    .fifth-section-div{
        margin: 0px;
    }
    .fifth-section-title{
        font-size: 30px;
    }
    .carousel{
        padding: 10px 5px;
    }
    .carousel-details{
       padding: 0px 20px;
    }
    .carousel-details p {
        font-size: 16px;
    }
    .carousel-details h2{
        font-size: 24px;
    }
}